<template>
  <div id="app">
    <div class="sub-nav">
      <router-link to="/about">About</router-link>|
      <router-link to="/news">News</router-link>
    </div>
    <router-view />
  </div>
</template>

<style lang="less" scoped>

.sub-nav{
    line-height: 50px;
    text-align: left;
}
</style>
