<template>
    <div id="app">
        <div class="nav">
            <router-link to="/sub-vue">子应用</router-link>
        </div>
        <div id="container"></div>
    </div>
</template>

<style lang="less">
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.nav {
    background: aliceblue;
    height: 50px;
    width: 100%;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    line-height: 50px;
    position: relative;

    a {
        font-weight: bold;
        color: #2c3e50;

        &.router-link-exact-active {
            color: #42b983;
        }
    }
}

#container {
    height: 85vh;
    overflow: auto;
}
</style>
