<template>
    <el-container class="container">
        <el-header> <h1>作业</h1></el-header>
        <el-main>
            <!-- <router-link to="/homework/Conversion0708">0708</router-link>
        <router-link to="/homework/MonacoEditor0710">0710</router-link> -->
            <el-button @click="jumpTo('/homework/Conversion0708')"
                >0708进制转换</el-button
            >
            <el-button @click="jumpTo('/homework/MonacoEditor0710')"
                >0710monaco</el-button
            >
            <el-button @click="jumpTo('/week02/FindKthLargestElement')"
                >0715找第K大的元素</el-button
            >
            <el-button @click="jumpTo('/week02/RenderTemplate')"
                >0717模板渲染</el-button
            >
            <el-button @click="jumpTo('/week03/OnlinePreview')"
                >0722在线预览</el-button
            >
        </el-main>
    </el-container>
</template>

<script>
export default {
    name: 'Index',
    methods: {
        jumpTo(path) {
            this.$router.push(path);
        },
    },
};
</script>

<style scoped>
.container .el-button {
    margin: 10px;
}
</style>
