<template>
    <el-container>
        <el-aside width="300px">
            <div class="news-item" v-for="item in newsList" :key="item.id" @click="currNews = item">
                {{ item.title }}
            </div>
        </el-aside>
        <el-main>
            <article>
                <h1>{{ currNews.title }}</h1>
                <p>{{ currNews.content }}</p>
            </article>
        </el-main>
    </el-container>
</template>

<script>
import news from '@/components/news.js';
export default {
    data() {
        return {
            newsList: news,
            currNews: {
                title: '',
                content: '',
            },
        };
    },
    created() {
        this.currNews = this.newsList[0];
    },
};
</script>

<style scoped lang="less">
.el-container {
    background: #e9e9e9;
}
.el-aside {
    margin: 10px;
    background: #ddd;
    .news-item {
        margin: 10px;
        padding: 10px;
        line-height: 30px;
        border-radius: 5px;
        background: #fcfcfc;
        // overflow: hidden;
        // text-overflow: ellipsis;
        // white-space: nowrap;
    }
}

.el-main {
    margin: 10px;
    background: #fcfcfc;

    h1 {
        text-align: center;
    }

    p {
        text-indent: 2em;
        text-align: left;
    }
}
</style>
