<template>
    <!-- 与server项目配合,地址：https://gitlab.com/fafatde/front-end-geek/-/tree/main/server
 1. 进入server项目的目录下，安装依赖，npm ci
 2.在server项目的目录下执行：node server.js，启动服务 -->
    <div ref="container" class="container">
        <h1>在线预览</h1>
        <div class="btn">
            <span>输入vue格式代码，点击预览</span>
            <el-button @click="run">预览</el-button>
        </div>
        <div class="main">
            <div ref="editor" class="monaco-editor monaco"></div>
            <div
                ref="result"
                :key="renderResultKey"
                v-loading="loading"
                element-loading-text="拼命加载中"
                class="result"
            >
                <div id="root"></div>
            </div>
        </div>
    </div>
</template>

<script>
import * as monaco from 'monaco-editor';
import debounce from 'lodash/debounce';

export default {
    data() {
        return {
            monacoEditor: null,
            renderResultKey: 'renderResultKey',
            loading: false,
            template: `<template>
    <div>
        <ul class="bg">
            <li v-for="n in 5" :key="n">{{ n }}</li>
        </ul>
    </div>
</template>

<style scoped>
.bg {
    background: #afdfdf;
}
</style>`,
        };
    },
    created() {
        this.run = debounce(this.run, 300);
    },
    mounted() {
        this.monacoEditor = monaco.editor.create(this.$refs.editor, {
            language: 'html',
            minimap: {
                // 不要小地图
                enabled: false,
            },
            theme: 'vs-dark',
            value: this.template,
        });
    },
    methods: {
        run() {
            this.loading = true;

            let code = this.monacoEditor.getValue(); //获取编辑器的值
            let arr = new Uint32Array(1);
            this.renderResultKey =
                'renderResultKey' + window.crypto.getRandomValues(arr)[0];

            // 请求接口，返回编译后的js代码
            fetch('http://127.0.0.1:9998/webpack', {
                method: 'post',
                body: JSON.stringify({ code: code }),
            })
                .then((res) => {
                    return res.text();
                })
                .then((res) => {
                    // console.log('res: ' + res);

                    //创建一个script标签，用来存放获取到的js代码
                    let script = document.createElement('script');
                    script.id = 'toRunScript';
                    script.type = 'text/javascript';
                    script.text = res.toString();

                    document.getElementById('toRunScript') &&
                        document.getElementById('toRunScript').remove();

                    this.$refs.container.appendChild(script);
                    this.loading = false;
                })
                .catch((err) => {
                    console.log(err);

                    this.loading = false;
                    this.$notify.error({
                        title: '错误',
                        message: '预览失败',
                    });
                });
        },
    },
};
</script>

<style>
.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 48vw;
}
.main {
    margin: 20px 0;
    display: flex;
    width: 96vw;
    height: 70vh;
    justify-content: space-between;
}

.main > div {
    border: 1px solid #ddd;
    width: 47vw;
    overflow: scroll;
}

.monaco {
    border: 1px solid #ddd;
    width: 100%;
    text-align: left;
}
</style>
